.btn {
    text-decoration: none;
    color: white;
    border-radius: 15px;
    padding: .6rem 1rem;
}

#btn-play {
    background-color: dodgerblue;
}

#btn-verify {
    background-color: crimson;
}

#mail-verifier {
    padding-top: 3rem;
}